<!DOCTYPE html>
<html>
<head>
	<title>Joho-Sensei</title>
	<link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Links de Bootstrap y CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
  	<!-- google fonts -->
  	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:800,900|Montserrat+Alternates:400,500,600,700,800" rel="stylesheet">
  	<!-- fontawesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  	<!-- Smooth Scroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="../../index.html"><img src="../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="noticias.html">noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="videos.html">vídeos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resenas.html">reseñas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">artículos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="agenda.html">agenda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container">
        <!-- SECTION ARITUCLOS -->
        <div class="accordion-wrapper">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Artículos アイテム
                            </button>
                        </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Notas importantes y curiosas.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEWS TICKER -->
        <div class="scroll-container">
            <p id="scroll">Este ticker es diferente al de noticias, aquí pondremos las series más recomendadas del mes >> Este mes recomendamos:
            Mob Psycho 100, Black Clover y Sirilo Adventure
            </p>
        </div>

         <!-- RESEÑAS ARTICLES -->
         <div class="articles">
            <div class="main">
                <div class="card row">
                    <div class="card-header col-md-6">
                        <div class="main-img">
                            <img src="../../assets/images/gg-img.png">
                        </div>
                    </div>
                    <div class="card-body col-md-6">
                        <h5 class="card-title">MAGICAL CIRCLE GURU-GURU</h5>
                        <p class="card-text">La película de 1996 pasaría casi desapercibida, pero la tardía continuación de 2000 (Doki Doki Densetsu Mahōjin Guru Guru)
                        brindaría 38 episodios de más aventuras con Nike y Kururi contra nuevos retos y monstruos de fantasía, abarcando los tomos 5 al 11 del manga,
                        pero dejando inconclusa la saga de 16 tomos.</p>
                        <a href="noticias-detail.html" class="btn">más もっと</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col normal left">
                    <div class="card">
                        <div class="card-header">
                            <div class="secondary-img">
                                <img src="../../assets/images/mh-img.png">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">My Hero Academia</h5>
                            <p class="card-text">En la actual cultura pop, nos vemos a veces “bombardeados” por el exceso de series, películas e historietas enfocados
                            en el género de los superhéroes. Y es justo por eso que mi recomendación de esta ocasión se enfoca en Boku no Hero Akademia, serie anime
                            de reciente inclusión al catálogo Crunchyroll en su temporada 1 (13 episodios) y con simulcast de la actual temporada 2, que está por concluir.</p>
                            <a href="#" class="btn">más もっと</a>
                        </div>
                    </div>
                </div>
                <div class="col normal right">
                    <div class="card">
                        <div class="card-header">
                            <div class="secondary-img">
                                <img src="../../assets/images/lm-img.png">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Crunchyroll suma a su catálogo el anime Frankenstein Family</h5>
                            <p class="card-text">Un nuevo anime llega hoy mismo a Crunchyroll con Frankenstein Family,
                                una serie de televisión basada en un cómic taiwanés y protagonizada por un grupo de
                                hermanos un tanto peculiar.</p>
                            <a href="#" class="btn">más もっと</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    
    </div>

    <!-- FOOTER -->
    <div class="container-fluid footer">
        <div class="container">
            <div class="center">
                <img src="../../assets/images/footer-logo.png">
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>
                <div class="col-md-6">
                    <p>© 2018 Joho Sensei </p>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Scripts principales Bootstrap y JS -->
	<script type="text/javascript" src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Text Scroll Plugin -->
    <script src="../../assets/js/plugins/text-scroller/dist/jquery.autoScrollTextTape.min.js"></script>

    <script>
        $('#scroll').autoTextTape({
        speed: "normal" // or 'slow', 'fast'
        });
    </script>
    <!-- Smooth Scroll -->
	<script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
    
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
    
              // Store hash
              var hash = this.hash;
    
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>
</body>
</html>