<!DOCTYPE html>
<html>
<head>
	<title>Joho-Sensei</title>
	<link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Links de Bootstrap y CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
  	<!-- google fonts -->
  	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:800,900|Montserrat+Alternates:400,500,600,700,800" rel="stylesheet">
  	<!-- fontawesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  	<!-- Smooth Scroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="../../index.html"><img src="../../assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="noticias.html">noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="videos.html">vídeos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">reseñas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">artículos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="agenda.html">agenda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <!-- MAIN CONTENT -->
    <div class="container">
         <!-- NEWS TICKER -->
         <div class="scroll-container">
            <p id="scroll">Crunchyroll estrenará el anime 'RErideD: Tokigoe no Derrida' >> Sword Art Online: Alicization confirma sus territorios >> Bungo Stray Dogs: DEAD APPLE llega a España gracias a Crunchyroll
            >> El anime Tensei Shitara Slime Datta Ken llegará a la temporada de simulcasts de Crunchyroll >> El anime Hashiritsuzukete Yokattatte estrena videos con sus temas musicales.
            >> El manga Magimoji Rurumo inspirará dos nuevas OVA</p>
        </div>
        
        <!-- NEWS -->
        <div class="news">
            <div class="back">
                <a href="noticias.html"><i class="fas fa-arrow-left"></i> volver</a>
            </div>
            <div class="news-notes">
                <!-- autor --> <a href="#" class="autor">HazuStark</a>
                <!-- date and time --> <p class="date">Octubre 4, 2018. 11:34am AST</p>
            </div>
            
            <!--NEW'S TITLE --><h1>¡Tenemos tráiler de la segunda temporada de Mob Pyscho 100!</h1>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="content">
                        <!--NEW'S TITLE --><img src=../../assets/images/mp-img.png>

                        <p>Recientemente se ha abierto una web para la que será la segunda temporada de la adaptación televisiva animada del manga Mob Psycho 100 de ONE,
                        revelándose en ella el logo de la misma y una imagen promocional que conmemora el cumpleaños del protagonista, Mob, que se celebra el 12 de mayo.</p>

                        <p>Esta segunda temporada se anunciaba por primera vez el pasado mes de marzo en un evento dedicado a la serie, y el director Yuzuru Tachikawa
                        ya comentaba que el equipo no cambiará con respecto a la primera, trabajada por el estudio BONES.</p>
                        
                        <p>La historia está protagonizada por “Mob”, un chico que aunque tiene poderes psíquicos,
                        se ganó el apodo de “Mob” porque no destaca en absoluto entre los demás. Mantiene sus poderes
                        ocultos para vivir una vida normal, pero cuando sus emociones le superan y alcanza el límite del
                        100%, pierde el control de su cuerpo y entra en modo salvaje. Por suerte tiene a Reigen, un psíquico
                        de tres al cuarto que se gana la vida como estafador, como maestro…</p>
                    </div>
                    <div class="categories">
                        <a href="#" class="tag">Anime</a>
                        <a href="#" class="tag">Tráilers</a>
                        <a href="#" class="tag">Bones</a>
                    </div>
                </div>
            
                <div class="col-md-4">
                    <!-- NOTICIAS DESTACADAS (must be imported) -->
                    <div class="destacados">
                        <h3>Noticias Destacadas</h3>
                        <a href="#">Crunchyroll suma a su catálogo el anime Frankenstein Family</a>
                        <a href="#">¡Tenemos tráiler de la segunda temporada de Mob Psycho 100!</a>
                        <a href="#">Saldrá a la venta Soundtrack de Mob Pyscho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
        
        <!-- FOOTER -->
        <div class="container-fluid footer">
            <div class="container">
                <div class="center">
                    <img src="../../assets/images/footer-logo.png">
                </div>
            </div>
        </div>
        <div class="container-fluid footer-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                    <div class="col-md-6">
                        <p>© 2018 Joho Sensei </p>
                    </div>
                </div>
            </div>
        </div>
            
    
        <!-- Scripts principales Bootstrap y JS -->
        <script type="text/javascript" src="../../assets/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../../assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- Text Scroll Plugin -->
        <script src="../../assets/js/plugins/text-scroller/dist/jquery.autoScrollTextTape.min.js"></script>
    
        <script>
            $('#scroll').autoTextTape({
            speed: "normal" // or 'slow', 'fast'
            });
        </script>
        <!-- Smooth Scroll -->
        <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {
        
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();
        
                  // Store hash
                  var hash = this.hash;
        
                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){
               
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
        </script>
    </body>
    </html>