.navbar-light .navbar-nav .nav-link {
  color: #ea5b55;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  font-size: 22px;
  padding: 0 20px;
  letter-spacing: -0.5px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1a1a1a;
  -webkit-animation-name: hover-one;
          animation-name: hover-one;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes hover-one {
  from {
    color: #ea5b55;
  }
  to {
    color: #1a1a1a;
  }
}

@keyframes hover-one {
  from {
    color: #ea5b55;
  }
  to {
    color: #1a1a1a;
  }
}

.bg-light {
  background-color: #ffc233 !important;
}

.navbar {
  padding: 0;
}

.navbar img {
  width: 170px;
  padding: 10px;
}

.accordion-wrapper {
  position: relative;
  height: 400px;
  margin-top: 20px;
}

.accordion-wrapper .accordion .card {
  border: 1px solid transparent;
  background-color: #ea5b55;
  width: 60%;
  border-radius: 8px;
}

.accordion-wrapper .accordion .card .card-header {
  border-bottom: 1px solid transparent;
}

.accordion-wrapper .accordion .card .card-header button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 28px;
  letter-spacing: -0.5px;
  text-decoration: none;
}

#accordionExample {
  -webkit-transform: rotate(-90deg) translate(-400px);
          transform: rotate(-90deg) translate(-400px);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /* max-width: 100%; */
  /* margin-left: 15px; */
  /* background: lavender; */
  width: 400px;
}

#accordionExample .card-body {
  -webkit-transform: translate(400px) translateX(0%) rotate(90deg);
          transform: translate(400px) translateX(0%) rotate(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  height: 800px !important;
  max-width: 700px !important;
  width: 700px;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#accordionExample .card {
  width: 100%;
}

#accordionExample .collapse {
  height: 800px !important;
}

#accordionAgenda .card {
  border: 1px solid #ffc233;
  margin-bottom: 3px;
}

#accordionAgenda .card-header,
#accordionAgenda .card-body {
  background-color: #ffc233;
}

#accordionAgenda a {
  color: #ea5b55;
  text-decoration: none;
  font-family: 'montserrat alternates', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#accordionAgenda a:hover {
  color: #ea5b55;
}

#accordionAgenda p {
  color: white;
  font-family: 'montserrat alternates', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

#accordionAgenda button {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
}

.scroll-container {
  margin-top: 20px;
  border: 1px solid #8080806b;
  border-radius: 4px;
  width: 100%;
}

.scroll-container p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 7px;
  padding-top: 7px;
}

.articles .main {
  margin-top: 10px;
}

.articles .main .main-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 8px;
}

.articles .main .main-img img {
  width: 100%;
}

.articles .main .card {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ea5b55;
}

.articles .main .main .card h5,
.articles .main .card h5 {
  font-size: 22px;
  font-family: 'Montserrat Alternates' , sans-serif;
  font-weight: 800;
  color: white;
}

.articles .main .main .card p,
.articles .main .card p {
  font-family: 'Montserrat Alternates' , sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.articles .main .main .card .btn,
.articles .main .card .btn {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.articles .main .card .btn {
  background-color: #ffc233;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.articles .main .card .btn:hover {
  background-color: #ffb300;
}

.articles .normal .card {
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-top: 20px;
}

.articles .normal a {
  float: right;
}

.articles .normal h5 {
  font-size: 22px;
  font-family: 'Montserrat Alternates' , sans-serif;
  font-weight: 800;
  color: white;
}

.articles .normal p {
  font-family: 'Montserrat Alternates' , sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.articles .normal .btn {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  font-size: 18px;
  background-color: #ffc233;
}

.articles .normal .btn:hover {
  background-color: #ffb300;
}

.articles .normal .secondary-img img {
  width: 100%;
}

.articles .normal .secondary-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 8px;
}

.articles .normal .col, .articles .normal .col-1, .articles .normal .col-10, .articles .normal .col-11, .articles .normal .col-12, .articles .normal .col-2, .articles .normal .col-3, .articles .normal .col-4, .articles .normal .col-5, .articles .normal .col-6, .articles .normal .col-7, .articles .normal .col-8, .articles .normal .col-9, .articles .normal .col-auto, .articles .normal .col-lg, .articles .normal .col-lg-1, .articles .normal .col-lg-10,
.articles .normal .col-lg-11, .articles .normal .col-lg-12, .articles .normal .col-lg-2, .articles .normal .col-lg-3, .articles .normal .col-lg-4, .articles .normal .col-lg-5, .articles .normal .col-lg-6, .articles .normal .col-lg-7, .articles .normal .col-lg-8, .articles .normal .col-lg-9, .articles .normal .col-lg-auto, .articles .normal .col-md, .articles .normal .col-md-1, .articles .normal .col-md-10,
.articles .normal .col-md-11, .articles .normal .col-md-12, .articles .normal .col-md-2, .articles .normal .col-md-3, .articles .normal .col-md-4, .articles .normal .col-md-5, .articles .normal .col-md-6, .articles .normal .col-md-7, .articles .normal .col-md-8, .articles .normal .col-md-9, .articles .normal .col-md-auto, .articles .normal .col-sm, .articles .normal .col-sm-1, .articles .normal .col-sm-10,
.articles .normal .col-sm-11, .articles .normal .col-sm-12, .articles .normal .col-sm-2, .articles .normal .col-sm-3, .articles .normal .col-sm-4, .articles .normal .col-sm-5, .articles .normal .col-sm-6, .articles .normal .col-sm-7, .articles .normal .col-sm-8, .articles .normal .col-sm-9, .articles .normal .col-sm-auto, .articles .normal .col-xl, .articles .normal .col-xl-1, .articles .normal .col-xl-10,
.articles .normal .col-xl-11, .articles .normal .col-xl-12, .articles .normal .col-xl-2, .articles .normal .col-xl-3, .articles .normal .col-xl-4, .articles .normal .col-xl-5, .articles .normal .col-xl-6, .articles .normal .col-xl-7, .articles .normal .col-xl-8, .articles .normal .col-xl-9, .articles .normal .col-xl-auto {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.articles .left {
  padding-left: 0 !important;
  padding-right: 12.5px !important;
}

.articles .right {
  padding-right: 0 !important;
  padding-left: 12.5px !important;
}

.articles .row {
  margin-right: 0;
  margin-left: 0;
}

.art-button {
  text-align: center;
  margin-top: 20px;
}

.art-button a {
  border: 2px solid #ea5b55;
  color: #ea5b55;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

.art-button a:hover {
  color: white;
  background-color: #ea5b55;
}

.art-button a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.news .back {
  margin-top: 60px;
  margin-bottom: 15px;
}

.news .back a,
.news .categories a {
  padding: 5px 10px;
  border: 2px solid #ffc233;
  border-radius: 8px;
  color: #ffc233;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.news .back a:hover,
.news .categories a:hover {
  text-decoration: none;
  background-color: #ffc233;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news h1 {
  font-size: 40px;
  font-family: 'Montserrat Alternates' , sans-serif;
  font-weight: 800;
  color: #ea5b55;
}

.news .news-notes p,
.news .news-notes a {
  margin-bottom: 0;
  font-family: 'Montserrat Alternates' , sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.news .news-notes a {
  font-weight: 700;
  color: black;
}

.news .news-notes a:hover {
  color: #ffc233;
}

.news .content p {
  font-family: 'Montserrat Alternates', sans-serif;
  color: gray;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}

.news .content img {
  width: 100%;
  margin-bottom: 20px;
}

.news .destacados h3 {
  font-family: 'Montserrat alternates', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.news .destacados a {
  display: block;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: gray;
  padding: 5px 5px 5px 0;
}

.news .destacados a:hover {
  background: #ffc233;
  padding: 5px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filters {
  margin-top: 15px;
}

.filters .form-control {
  border: 2px solid #ea5b55;
}

.filters .search {
  width: 85%;
}

.filters .btn {
  padding: .5rem 1.6rem;
  background-color: #ea5b55;
  color: white;
  border: 1px solid #ea5b55;
}

.footer {
  margin-top: 80px;
  background-color: #1a1a1a;
}

.footer .center {
  text-align: center;
}

.footer img {
  width: 70px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-bg-2 {
  background-color: black;
  color: #cdcdcd;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bg-2 i {
  font-size: 18px;
  padding-left: 2px;
  padding-right: 2px;
}

.footer-bg-2 p {
  margin-bottom: 0;
  float: right;
}
